<!-- <h2>Companies</h2>
<ul>
  <li *ngFor="let company of companies" (click)="onCompanyClick(company.id)" style="cursor: pointer;">
    <strong>{{ company.name }}</strong> - {{ company.city }}
  </li>
</ul>

<div *ngIf="vacancies.length > 0">
  <h3>Vacancies for selected company</h3>
  <ul>
    <li *ngFor="let vacancy of vacancies">
      {{ vacancy.name }} — {{ vacancy.salary }} ₸
    </li>
  </ul>
</div> -->

<h2>Company List</h2>
<ul>
  <li *ngFor="let company of companies" (click)="onCompanyClick(company.id)">
    {{ company.name }}
  </li>
</ul>

<div *ngIf="vacancies.length > 0">
  <h3>Vacancies:</h3>
  <ul>
    <li *ngFor="let vacancy of vacancies">
      {{ vacancy.name }} - {{ vacancy.salary }}$
    </li>
  </ul>
</div>

<!-- <h2>Список компаний</h2>

<ul>
  <li *ngFor="let company of companies" (click)="onCompanyClick(company.id)">
    {{ company.name }}
  </li>
</ul>

<div *ngIf="vacancies.length > 0">
  <h3>Вакансии компании</h3>
  <ul>
    <li *ngFor="let vacancy of vacancies">
      {{ vacancy.name }}
    </li>
  </ul>
</div>
 -->
